services:
  prometheus-backend:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus-config.yaml:/etc/prometheus/prometheus-config.yaml
    command: ["--config.file=/etc/prometheus/prometheus-config.yaml"]
    ports:
      - "9090:9090"
    extra_hosts:
      - "host.docker.internal:host-gateway"
  prometheus-pushgateway:
    image: prom/pushgateway
    ports:
      - "9091:9091"
