[package]
name = "example-vixen-stream"
description = "Test bed for running Vixen program streams"
publish = false
edition = "2021"
license = "MIT"
repository = "https://github.com/rpcpool/yellowstone-vixen"

[dependencies]
clap = { version = "4.5.4", features = ["derive", "cargo", "wrap_help"] }
prost = "0.13.1"
toml = "0.8.12"
tracing = "0.1.40"
tracing-subscriber = { version = "0.3.18", features = ["env-filter"] }
yellowstone-vixen = { workspace = true, features = ["stream"] }

[build-dependencies]
prost-build = "0.13.1"
