[package]
name = "yellowstone-vixen"
description = "An all-in-one consumer runtime library for Yellowstone"
# authors = ["TODO"]
version = "0.0.0"
edition = "2021"
license = "MIT"
repository = "https://github.com/rpcpool/yellowstone-vixen"

[dependencies]
clap = { version = "4.5.4", default-features = false, features = [
    "env",
    "derive",
    "std",
] }
futures-channel = { version = "0.3.30", features = ["sink"] }
futures-util = { version = "0.3.30", features = ["sink"] }
once_cell = { version = "1.19.0", optional = true }
opentelemetry = { version = "0.24.0", features = ["metrics"], optional = true }
opentelemetry-otlp = { version = "0.17.0", optional = true }
opentelemetry-semantic-conventions = { version = "0.16.0", optional = true }
opentelemetry_sdk = { version = "0.24.1", features = [
    "rt-tokio",
], optional = true }
prometheus = { version = "0.13.4", optional = true }
serde = "1.0.198"
thiserror = "1.0.59"
tokio = { version = "1.37.0", features = ["rt-multi-thread", "signal"] }
topograph = { version = "0.4.0", features = [
    "tokio",
], git = "https://github.com/ray-kast/topograph", branch = "v0.4-wip" }
tracing = "0.1.40"
warp = "0.3.7"
yellowstone-grpc-client = { workspace = true }
yellowstone-grpc-proto = { workspace = true }
yellowstone-vixen-core = { workspace = true }


[features]
default = ["opentelemetry"]
opentelemetry = [
    "dep:opentelemetry",
    "dep:opentelemetry-otlp",
    "dep:opentelemetry-semantic-conventions",
    "dep:opentelemetry_sdk",
    "dep:once_cell",
]
prometheus = ["dep:prometheus"]
