[package]
name = "yellowstone-vixen-parser"
description = "Vixen program parsers for the solana program library."
version = "0.0.0"
edition = "2021"
license = "MIT"
repository = "https://github.com/rpcpool/yellowstone-vixen"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
spl-pod = { version = "0.3.0" }
spl-token = { version = "6.0.0", optional = true }
spl-token-2022 = { version = "4.0.0", optional = true }
spl-type-length-value = { version = "0.5.0", optional = true }
spl-token-group-interface = { version = "0.3.0", optional = true }
spl-token-metadata-interface = { version = "0.4.0", optional = true }
yellowstone-grpc-proto = { workspace = true }
yellowstone-vixen-core = { workspace = true }
yellowstone-vixen-proto = { workspace = true, features = ["parser"], optional = true }
solana-zk-token-sdk = "2.0.9"
thiserror = "1.0.64"

[dev-dependencies]
yellowstone-vixen-mock = { workspace = true }
tokio = "1.39.2"

[features]
default = []
proto = [
  "dep:yellowstone-vixen-proto",
  "yellowstone-vixen-core/proto",
  "yellowstone-vixen-proto/parser",
]
token-extensions = [
  "dep:spl-token-2022",
  "dep:spl-type-length-value",
  "dep:spl-token-group-interface",
  "dep:spl-token-metadata-interface",
  "token-program",
]
token-program = ["dep:spl-token"]
