[package]
name = "example-vixen-stream-parser"
description = "Test bed for integrating yellowstone-vixen-parser with Vixen program streams"
publish = false
edition = "2021"
license = "MIT"
repository = "https://github.com/rpcpool/yellowstone-vixen"

[dependencies]
clap = { version = "4.5.4", features = ["derive", "cargo", "wrap_help"] }
toml = "0.8.12"
tracing = "0.1.40"
tracing-subscriber = { version = "0.3.18", features = ["env-filter"] }
yellowstone-vixen = { workspace = true }
yellowstone-vixen-proto = { workspace = true }
yellowstone-vixen-stream = { workspace = true }
yellowstone-vixen-parser = { workspace = true, features = [
  "proto",
  "token-extensions",
  "token-program",
] }
yellowstone-vixen-yellowstone-grpc-source = { workspace = true }

yellowstone-vixen-meteora-parser = { workspace = true }
yellowstone-vixen-pumpfun-parser = { workspace = true }
yellowstone-vixen-jupiter-swap-parser = { workspace = true }
yellowstone-vixen-meteora-amm-parser = { workspace = true }
yellowstone-vixen-moonshot-parser = { workspace = true }
yellowstone-vixen-orca-whirlpool-parser = { workspace = true }
yellowstone-vixen-raydium-cpmm-parser = { workspace = true }
yellowstone-vixen-pump-swaps-parser = { workspace = true }
yellowstone-vixen-raydium-amm-v4-parser = { workspace = true }
yellowstone-vixen-raydium-clmm-parser = { workspace = true }
yellowstone-vixen-kamino-limit-orders-parser = { workspace = true }

[build-dependencies]
prost-build = "0.13.1"
