[package]
name = "example-vixen-stream-parser"
description = "Test bed for integrating yellowstone-vixen-parser with Vixen program streams"
publish = false
edition = "2021"
license = "MIT"
repository = "https://github.com/rpcpool/yellowstone-vixen"

[dependencies]
clap = { version = "4.5.4", features = ["derive", "cargo", "wrap_help"] }
toml = "0.8.12"
tracing = "0.1.40"
tracing-subscriber = { version = "0.3.18", features = ["env-filter"] }
yellowstone-vixen = { workspace = true, features = ["stream"] }
yellowstone-vixen-parser = { workspace = true, features = [
  "proto",
  "token-extensions",
  "token-program",
] }

[build-dependencies]
prost-build = "0.13.1"
