name: Build yellowstone-vixen crates
# This workflow uses github runners.
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

# This may be adjusted to whatever suits best your runners config.
# Current config will build on manual trigger or pull-request (each push)
on:
  # pull_request can be removed, to save minutes on github runners
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - "main"

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    # This can be also be runned on self-hosted github runners
    runs-on: ubuntu-24.04

    steps:
      - name: checkout repo
        uses: actions/checkout@v4

      # This step can be omited, to save storage space on the organization account
      # Build process will take longer
      - name: Cache Build Dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            yellowstone-vixen/target/
          key: cargo-${{ hashFiles('**/Cargo.lock') }}-0001

      - name: Install LLVM/Clang
        run: sudo apt-get update && sudo apt-get install -y llvm-dev libclang-dev clang

      # Build yellowstone-vixen
      - name: build yellowstone-vixen
        run: cargo build --verbose --release
